[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=false
Type=Application
Icon=~/.conky/conky.svg
Name=conky
Comment=睛雨表
Exec=conky -d
StartupNotify=false
Hidden=false
Name[en_US]=conky
OnkyShowIn=Unity;
